*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (min-width: 280px) and (max-width: 900px){

    header {
        align-items: flex-start;
        flex-direction: column;
        height: auto;
        width: 100vw;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        position: static;
    }

    .casita-baby-menu {
     display: flex;
    }

    .container-menu {
      display: none;
      align-items: flex-start;
      width: auto;
      height: auto;
      background-color: transparent;  
    }

    .box-menu {
        flex-direction: column;
        align-items: flex-start;  
        margin-left: 5%;  
    }

    .boton-menu , .contacto-menu {
        margin: 5%;
    }

    #baby-menu:checked ~ .container-menu{
       display: block;   
    }

    .boton-menu , .contacto-menu {
        background-color: var(--Csecundario);
        border-radius: 20px;
    }


   
/* PRESENTATION*/ 

.container-presentation {
    width: 100vw;
    height: auto;
    align-items: flex-start;
}

    .box-presentation{
        height: auto;
        width: auto;
        flex-direction: column;
        text-align: center;       
}

    .box-presentation-hola {
        height: 50vh;
        width: auto;   
       align-items: center;
       justify-content: center;
       margin-bottom: 4%;  
    }

    .linea-soy{
        font-size: 1rem;
    }

    .linea-name {
        font-size: 2.7rem;
    }

    .boton-hago {
        width: 150px;
        height: auto;
        margin-top: 2%;
        padding: 5%;
        text-align: center;
    }


    main {
     width: 100vw;
     align-items: center;
     justify-content: center;
     text-align: center;
    }


    /*SKILLS*/

    .container-skills {
        width: 100vw;
        height: auto;
        margin-top: 15%;
    }

    .box-skills {
        width: auto;
        height: auto;
        margin: 4% 0;  
    }

    .titulo-conocimientos-skills {
        font-size: 2.3rem;
        text-align: center;
        padding: 2% 0;   
    }

    .texto-conocimientos-skills {
        width: 70%;
        height: auto;
    }

    .box-botones-skills {
        width: 90%;
        height: auto;    
    }

    .box-icono-skills {
        width: 130px;
        height: 160px;
    }

    /*SOMEONE*/

    .container-someone {
        width: 100vw;
        height: auto;
        margin: 3% 0;   
    }

    .box-someone {
        width: auto;
        height: auto; 
        padding: 4%;
    }

    .cita-someone {
        width: 80%;
        height: auto;
        font-size: 1rem;
        margin: 2% 0;
    }

    .autor-someone {
        width: auto;
        height: auto;
        font-size: 1.3rem;
    }


    /*MIS PROYECTOS*/

    .container-mis-proyectos {
        width: auto;
        height: auto;
        margin-bottom: 2%;
    }
    .box-proyectos {
        width: auto;
        height: auto;
      margin-top: 4%;    
    }

    .texto-proyectos {
        width: auto;
        height: auto;
    }
    .titulo-proyectos {
        font-size: 2.7rem;
       margin-bottom: 2%;
    }

    .descripcion-proyectos {
        width: 80%;
        height: auto;   
    }

    .box-img-proyectos {
        width: 100%;
        height: auto;
        margin-top: 2%;
    }

    .box-img-nombre-proyectos {
        width: 200px;
        height: 200px; 
        margin: 0 5% 10% 0;   
    }

    .imagen-proyectos {
        width: 90%;
        height: auto;
    }

    .png-proyectos {
      width: 100%;
      height: 130px;
 }


 /*CONTACTAME*/

 .container-contactame {
     width: 100vw;
     height: auto;
     margin-bottom: 2%;   
 }

 .box-contactame {
     width: 90vw;
     height: auto;
     flex-direction: column;
     margin: 4% 0;
 }

.contactame-redes {
    width: 85vw;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;  
}

.texto-redes {
    height: auto;
    margin-bottom: 10%;
  
}

.titulo-redes {
    font-size: 2.7rem;
    margin-bottom: 2%;
}

.p-redes {
    font-size: 1rem;
}
.lista-redes {
    height: auto;
    margin-left: 5%;
}

.contactame-icono {
padding-top: 10px;
}

.escribime-formulario {
    height: auto;
}

.box-escribime {
    width: 85vw;
    height: auto;
    margin-bottom: 5%;  
}

.titulo-escribime {
    font-size: 2.7rem;
}
.box-nombre-apellido {
    height: auto;   
}

.box-nombre , .box-apellido {
     margin: 5% 0;
     height: auto;
}

#name ,#subname {
    width: 120px;
    height: 40px;
    margin: 5% 0;
}

.box-email {
    height: auto;  
} 

#mail {
    width: 300px;
    margin: 5% 0;
}

.box-mensaje {
height: auto;
}

#textarea {
    width: 300px;
    margin: 5% 0;
}

.enviar {
    padding: 5%;
}

/*FOOTER*/

footer {
    width: 100vw;
    height: 42vh;
}

.container-iconos-footer {
    width: 100%;
}

.box-lista-link-footer{
    width: 90vw;
}

.link-footer{
font-size: 0.7rem;
  
}

.icono-footer {
 font-size: 1.2rem;
    
}

.link-iconos-footer {
    padding: 5%;
}


.icono-footer {
  padding-top: 25%;
}
}




@media (min-width: 900px) and (max-width: 1024px){

/*HEADER*/
header {
    padding: 0 40% 0 0;
}    



/* PRESENTATION*/ 
.box-presentation {
    height: auto;
 flex-direction: column;
 margin-top: 5%;
 
}

.box-presentation-hola {
    width: 100%;
     margin: 10% 0 3% 0; 
    align-items: center;
}

.boton-hago {
    height: auto;
    width: 20vw;
    padding: 5%;
    font-size: 1.5rem;
}

.container-img-presentation {
     height: 50vh;
     width: auto;
}

.box-img-presentation{
    width: auto;
    height: 40vh;
}

main {
     width: 100vw;
     align-items: center;
     justify-content: center;
     text-align: center;
    }

    /*SKILLS*/

    .container-skills {
        height: auto;
        margin: 20% 0;
    }

    .box-skills {
        height: auto;
        margin-top: 10%;
    }

    .texto-conocimientos-skills {
        width: 70%;
        height: auto;
        margin: 4% 0;
    }

    .box-botones-skills {
        width: 100%;
        height: auto;   
    }

    /*MIS PROYECTOS*/

    .container-mis-proyectos {
        height: auto;
        margin: 20% 0;
    }

    .box-proyectos {
        height: auto;
       margin-top: 4%;
    }

    .box-img-proyectos {
        height: auto;
        width: 80vw;
        margin-top: 4%;
    }

    .titulo-proyectos {
      margin-bottom: 2%;
    }



     /*CONTACTAME*/

     .container-contactame {
         height: auto;
         margin: 20% 0 20% 0;
     }

     .box-contactame {
         height: auto;
         width: 90%;
         padding: 5% 0;
     }

    .contactame-redes {
        height: auto;
        align-items: center;

    }

    .texto-redes {
     height: auto;
      width: 80%;
     
    }

    .p-redes {
        height: auto;
       
    }

    .lista-contactame{
     width: 80vw;
     height: auto;
     margin-left: 15%;
     margin-bottom: 0;
     
   }

   .contactame-link {
       height: auto;
      width: 50%;
      justify-content: flex-start;
      margin: 0;
  }

 
.lista-redes {
      height: auto;
      padding: 4.5% 0;
  }

  .texto-redes, .titulo-redes, .p-redes, .contactame-link{
      padding: 2.5% 0 ;
  }

  .box-escribime, .box-nombre-apellido, .box-email, .box-mensaje, .box-enviar, .titulo-escribime, .escribime-formulario {
      height: auto;
      padding: 2.5% 0;
  }
  #mail, #textarea {
      width: 94%;
  }
#name, #subname {
    width: 85%;
}

/*FOOTER*/

.link-footer {
    font-size: 1rem;
}

.icono-footer {
 font-size: 1.7rem;
    
}
}






@media (min-width: 700px) and (max-width: 900px){

/*PRESENTACION*/

.linea-soy {
    font-size: 2rem;
}

.linea-name {
    font-size: 4.5rem;
}

.boton-hago {
    height: auto;
    padding: 7%;
    margin-top: 5%;
}

   /*SKILLS*/

   .container-skills {
       margin-top: 15%;
   }

   .box-botones-skills {
       width: 75%;
   }

/*MIS PROYECTOS*/

.box-img-proyectos {
    width: 80%;
}

 /*CONTACTAME*/

 .contactame-redes {
    align-items: center;
   }

   .texto-redes {
   width: 80%;
   }


   .lista-contactame {
    width: 80vw;
    height: 6vh;
    margin-left: 20%;
}

  .contactame-link {
   width: 100%;
 }

 #name ,#subname {
    width: 180px;
    height: 40px;
}

#mail {
    width: 380px;
}

#textarea {
    width: 380px;   
}


 /*FOOTER*/
.nombre-secciones-link-footer {
    font-size: 1rem;
}

}








@media (width:1024px){

/*HEADER*/

header {
    padding: 0 20%;
}

.container-menu {
    width: auto;
    height: auto;
}

.boton-menu , .contacto-menu{
    padding: 2.5%;
}


/* PRESENTATION*/ 

   .container-presentation {
    width: 100vw;
    height: 100vh;
}

    .box-presentation{
        height: auto;
        width: 100vw;
 }

    .box-presentation-hola {
        height: auto;
        width: 70vw;   
       align-items: center;
       justify-content: center;
       
    }

    .linea-soy{
        font-size: 2.5rem;
        margin: 2% 0;
    }

    .linea-name {
        font-size: 5rem;
    }

    .linea-fortalezas {
        font-size: 1.5rem;
        margin: 2% 0;
    }

    .boton-hago {
        width: 180px;
        height: auto;
        margin-top: 4%;
        padding: 5%;
        text-align: center;
        margin: 4% 0;
    }

    .container-img-presentation {
        width: auto;
        height: 50vh;
    }

    .box-img-presentation{
        width: auto;
        height: 80%;

    }

    /*CONTACTAME*/

    .contactame-redes, .box-escribime {
        width: 50%;
        height: auto;
    }

     .p-redes {
    padding: 15% 0;
    }
  


/* MIS PROYECTOS*/

.container-mis-proyectos {
    height: auto;
    }

  .box-img-proyectos {
      width: 80VW;
      height: auto;
    }

  .box-img-nombre-proyectos {
      width: 250PX;
      height: 250PX;
    }
  .png-proyectos {
      height: 150px;
    }

    /*FOOTER*/

    .link-footer {
        font-size: 1.5rem;
    }
    .icono-footer {
        padding-top: 20%;
    }
}






@media (width:540px){

    /*HEADER*/

    header {
        padding: 0% 6%;
    }

    /*CONTACTAME*/

    .contactame-link {
        justify-content: flex-start;
        margin-left: 10%;
    }


    /*SKILLS*/


    .box-skills {
        width: 100vw;
}

     .texto-conocimientos-skills {
         width: 50%;
         font-size: 1rem;
}

    /*FOOTER*/

    .link-footer {
        font-size: 1rem;
}

    .lista-iconos ul a li i {
        font-size: 1.5rem;
 }
}







@media (width:280px){

header {
    padding: 2%;
}


/*PRESENTACION*/

.box-presentation {
    width: auto;
    height: 100vh;  
}

.box-presentation-hola {
     width: auto;
     height: 50%;
}

.container-img-presentation {
    width: auto;
    height: 50%;
}

.box-img-presentation {
    width: 100%;
    height: auto;
}

/*CONTACTAME*/

.box-contactame {
    width: 95vw;
}

.titulo-redes {
    font-size: 2.5rem;
}

.lista-redes {
    width: 100%;
    margin: 0;
}

.lista-contactame {
    width: 100%;
    margin-bottom: 10%;
}


.contactame-link {
    width: 100%;
    font-size: 1rem;
}

#name ,#subname {
    width: 115px;
    height: 40px;
}

#mail {
    width: 240px;
}

#textarea {
    width: 240px;    
}

/*FOOTER*/

.link-footer {
    font-size: 0.6rem;
}

.box-lista-iconos {
    width: 100%;
}

.link-iconos-footer {
    padding: 2%;
}

}






@media (min-width:360px) and (max-width:500px){

    header {
        margin: 0 5%;
    }

 /*PRESENTACION*/

    .box-presentation {
        width: auto;
        height: 85vh;
    }

    .box-presentation-hola{
        width: 95vw;
        height: 50vh; 
    }
    .linea-soy{
        font-size: 2rem;
    }

    .container-img-presentation {
        width: auto;
        height: 50%;
    }

    .box-img-presentation {
        width: auto;
        height: 70%;
    }

    /*CONTACTAME*/

    .lista-redes {
        width: 100%;
    }
    
    .contactame-link {
        width: 100%;
        font-size: 1rem;
    }


    /*FOOTER*/

    .link-footer {
        font-size: 0.6rem;
    }
    
    .icono-footer {
        font-size: 1.5rem;
     }
}






@media (width:320px){

header {
    margin: 0;
}

 /*PRESENTACION*/

 .container-img-presentation {
     width: auto;
     height: 30vh;
 }

 .box-img-presentation {
     width: auto;
     height: 100%;
 }


/*CONTACTAME*/

 .lista-redes {
   width: 100%;
   margin-top: 10%;
   margin-left: 2%;
}

.lista-contactame {
    width: 90%;
    margin-bottom: 10%;
}

.contactame-link {
    font-size: 1rem;
}




#name ,#subname {
    width: 100px;
    height: 40px;
}

#mail {
    width: 250px;
}

#textarea {
    width: 250px;
}

/*FOOTER*/
    
 .link-footer {
     font-size: 0.6rem;
}
    
.icono-footer {
     font-size: 1rem;
}
}






@media (width:375px){

 /*CONTACTAME*/

 .lista-redes {
    width: 100%;
}

.lista-contactame {
    width: 90%;
}

.contactame-link {
    width: 100%;
    height: auto;
    font-size: 1rem;
}
}


@media (min-width: 1025px) and (max-width:1600px) {

 /*HEADER*/
 
 header {
     padding-right: 25%;
 }

/*PRESENTACION*/

.box-presentation {
    width: 85%;
}

.box-presentation-hola {
    height: auto;
}

.boton-hago {
    width: 40%;
}


    /*SKILLS*/

.container-skills {
    margin: 5% 0;
}

.box-skills {
    height: auto;
}

.texto-conocimientos-skills {
    height: auto;
    width: 40%;
    margin: 5% 0;
}

.box-botones-skills {
    height: auto;
    width: 70%;
}  

/*MIS PROYECTOS*/

.container-mis-proyectos {
    height: auto;
    margin: 5% 0;
}

.texto-proyectos {
    margin: 5% 0;
}

.box-proyectos {
    height: auto;
    width: 80%;
}

.box-img-proyectos{
 height: auto;
 width: 95%;
}

/*CONTACTAME*/

.contactame-redes {
    height: auto;
    width: 50%;
    padding: 5% 0;
}

.texto-redes {
    height: auto;
    align-items: center;    
}

.p-redes {
    height: auto;
    width: 50%;
}

.lista-redes {
    height: auto;
    padding: 8% 0;
}

.lista-contactame {
    margin-bottom: 0;
    padding-left: 15%;
}

.box-contactame {
    height: auto;
    width: 90%;
    padding: 5% 0;
}

.contactame-link {
    height: auto;
    margin-bottom: 0;
}

.box-escribime {
    width: 50%;
    height: auto;
    padding: 5% 0;
}

.texto-redes, .titulo-redes, .p-redes, .contactame-link{
    height: auto;
    padding: 2.5% 0 ;
}


 .box-nombre-apellido, .box-email, .box-mensaje, .box-enviar, .titulo-escribime, .escribime-formulario {
    height: auto;
    padding: 2.5% 0;
}

}