@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Raleway', sans-serif;
/*background-color: var(--Cprincipal);*/

}

:root {
    --Cprincipal: #F48C06;
    --Csecundario: #03071E;
    --Cparrafos: #FAA307;
    --Cparrafos2: #FAA307;
    --Chover: #14213D;
    --ChoverP: #FCA311;    
}

header {
    height: 9.29vh;
    width: 100%;
    /*background-color: blue;*/
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15%;
    box-shadow: 0px 1px 5px 2px rgb(233, 233, 233);
   position: fixed;
}

#baby-menu {
    display: none;

}

.casita-baby-menu {
    display: none;
    /*border: solid 1px var(--Csecundario);*/
     border-radius: 10px;
     /*width: 17%;*/
     width: 50px;
     height: 50px;
     margin: 4% 0 2% 5%;
     
     justify-content: center;
     /*background-color: var(--Cprincipal);*/
     
}

.casita-baby-menu:hover {
/*border: solid 1px var(--ChoverP);*/

}

.menu {
    /*background-color: chocolate;*/
    width: 42%;
    height: auto;
    display: flex;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    /*height: 9.29vh;*/
    height: auto;
    /*background-color: khaki;*/
}

.menu ul li a {
    display: flex;
    text-decoration: none;
    color: var(--Cparrafos);
    padding:  0.625rem; 
    font-size: 1.2em;
    /*background-color: lightcoral;*/
}  

.contacto {
    background-color: var(--Csecundario);
    border-radius: 20px;
}

.contacto:hover{
    background-color: var(--Chover);
    color: rgb(88, 84, 84);
}

.boton a:hover {
    color: var(--Csecundario);
}
/*Fin menu*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container-presentation {
    width: 100%;
    height: 100vh;
    /*background-color: lightpink;*/
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.box-presentation {
    width: 70%;
    height: 70vh;
    display: flex;
    /*background-color: lime;*/
    align-items: center;
    justify-content: center;
    /*padding: 0 15%;*/
}

.box-presentation-hola {

    /*background-color: burlywood;*/
    display: flex;
    width: 50%;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
}

 .hola-presentation{
     width: auto;
     height: auto;
     /*background-color: lightslategrey;*/
     display: flex;
     flex-direction: column;
     justify-content: center;
    
}

.linea-soy {
    /*background-color: mediumorchid;*/
    font-size: 1.875rem;
    color: var(--Cparrafos);
}
.linea-name {
    font-size: 3.75rem;
    color: var(--Csecundario);
}

.linea-fortalezas {
    font-size: 1.25rem;
    color: var(--Cparrafos2);
}
.boton-hago {
    width: 8.854vw;
    height: 5.611vh;
    border-radius: 10px;
    border-style: none;
    background-color: var(--Csecundario);
    font-size: 1.25rem;
    color: var(--Cparrafos2);
   
}

.presentation .boton-hago:hover{
    background-color: var(--Chover);
    color: var(--ChoverP);
}

.container-img-presentation{
    width: 50%;
    height: auto;
}

.box-img-presentation{
    width: 100%;
    height: auto;
}
/*Fin Presentation*/

.container-skills {
    width: 100%;
    height: 110vh;
    /*background-color: magenta;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid 1px var(--Csecundario);
    
}

.box-skills {
    display: flex;
    width: 90%;
    height: 80vh;
    /*background-color: mediumaquamarine;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.titulo-conocimientos-skills {
    width: 100%;
    height: auto;
    /*background-color: blanchedalmond;*/
    font-size: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.texto-conocimientos-skills {
    width: 20%;
    height: 40vh;
    font-size: 1.25rem;
    /*background-color: coral;*/
    display: flex;
    text-align: center;
    align-items: center;
    
}

.box-botones-skills {
    width: 50%;
    height: 70vh;
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.box-botones-skills div {
    /*background-color: var(--Cprincipal);*/
    background-color: var(--Csecundario);
    width: 230px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    justify-content: space-evenly;
    border-radius: 7px;
}
.box-botones-skills div:hover {
    border: solid 2px var(--ChoverP);
}

.box-botones-skills div i {
    font-size: 4.6875rem;
}

.box-botones-skills div p {
    font-size: 1.25rem;
    color: var(--Cparrafos);
}

/*Fin SKILLS*/

.someone {
    width: 100%;
    height: 51.60vh;
    background-color: var(--Csecundario);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-someone {
    width: 100%;
    height: 40vh;
    /*background-color: rgb(163, 119, 62);*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-someone i {
    font-size: 4.6875rem;
    color: var(--Cprincipal);
   /* background-color: tomato;*/
   text-shadow:-1px -1px 0 lightslategray;
}

.box-someone p {
    width: 50%;
    height: auto;
    font-size: 2rem;
    color: lightslategray;
    /*background-color: teal;*/
}

.box-someone h2 {
    font-size: 1.875rem;
    color: white;
    /*background-color: tomato;*/
    text-shadow:-1px -1px 0 lightslategray;
}

/*Fin SOMEONE*/

.mis-proyectos {
    width: 100%;
    height: 195vh;
    /*background-color: violet;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}
.box-proyectos {
    width: 70%;
    height: 178vh;
    /*background-color: thistle;*/
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.texto-proyectos {
    width: 100%;
    height: auto;
    /*background-color: turquoise;*/
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto-proyectos h1 {
    color: black;
    font-size: 3.75rem;
    /*background-color: teal;*/
}
.texto-proyectos p {
    font-size: 1.25rem;
    color: var(--Cparrafos2);
    width: 20%;
    /*background-color: tomato;*/
}
.box-img {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    /*background-color: saddlebrown;*/
}
.box-img a div {
    width: 380px;
    height: 380px;
    background-color: white;
    /*background-color: rgb(189, 230, 173);*/
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--Cprincipal);
}

.imagen {
    width: 70%;
    height: 32vh;
    /*background-color: tomato;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}


.box-img a {
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;
    color: var(--Cparrafos);
 }

.png {
    width: auto;
    height: 230px;
}

.box-img a div:hover {
    border: solid 1px var(--Chover);
    /*box-shadow: 0 0 5px 0 var(--ChoverP);*/
}

/*Fin MIS PROYECTOS*/

.contactame {
    width: 100%;
    height: 110vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--Csecundario);
}
.box-contacto {
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px var(--Cparrafos2);
    border-radius: 20px;
    /*background-color: yellow*/;
}

.contactame-redes {
    width: 40%;
    height: 60vh;
    /*background-color: lightcyan;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.texto-redes {
    width: auto;
    height: 15vh;
    /*background-color: orange;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}

.titulo-redes {
    width: auto;
    height: auto;
    /*background-color: lightsalmon;*/
    font-size: 3.125rem;
}

.p-redes {
    width: auto;
    height: auto;
    /*background-color: navajowhite;*/
    font-size: 1.25rem;
    color: var(--Cparrafos2);
}

.lista-redes {
    width: auto;
    height: 35vh;
    /*background-color: olive;*/
    font-size: 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}

.link-contactame {
    width: 60%;
    height: 7vh;
    /*background-color: mediumorchid;*/
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.contactame-link {
    width: 95%;
    height: 6vh;
    font-size: 1.5625rem;
    color: var(--Cparrafos2);
    text-decoration: none;
    /*background-color: mistyrose;*/
    display: flex;
    align-items: center;
    
    
}

.contactame-icono {
  
    width: 15%;
    height: 4vh;
    border: solid 1px var(--Csecundario);
    border-radius: 50%;
    font-size: 1.5625rem;
    color: var(--Csecundario);
    padding: 2%;
    margin-right: 5px;
    
}


.link-contactame:hover .contactame-icono{
    background-color: var(--Csecundario);
    color: var(--Cprincipal);
}
 .link-contactame:hover  .contactame-link{
     color: var(--Csecundario);
 }

.escribime {
    width: 40%;
    height: 60vh;
    /*background-color: rgb(222, 248, 179);*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.titulo-escribime {
    font-size: 3.125rem;
    /*background-color: lightskyblue;*/
}

.container-formulario {
    width: 100%;
    height: 55vh;
    /*background-color: maroon;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box-nombre-apellido {
    width: 100%;
    height: 12vh;
    /*background-color: lavenderblush;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-nombre {
    width: 50%;
    height: 12vh;
    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.box-apellido {
    width: 50%;
    height: 12vh;
    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.box-nombre-apellido label {
    width: auto;
    height: auto;
    /*background-color: lightblue;*/
    display: flex;
    font-size: 1.5625rem;
}

 #name ,#subname {
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    border: solid 1px var(--Cparrafos2);
    padding: 0 10px;
    background-color: var(--Csecundario);
}

.box-email {
    width: 100%;
    height: 12vh;
    /*background-color: rgb(228, 182, 255);*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-email label {
    font-size: 1.5625rem;
    /*background-color: lightskyblue;*/
    display: flex;
}

#mail {
    width: 95%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    border: solid 1px var(--Cparrafos2);
    padding: 0 10px;
    background-color: var(--Csecundario);
}

.box-mensaje {
    width: 100%;
    height: 22vh;
    /*background-color: rgb(146, 206, 97);*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.box-mensaje label {
    font-size: 1.5625rem;
    /*background-color: lightskyblue;*/
    display: flex;
}

#textarea {
    width: 95%;
    height: 15vh;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    background-color: var(--Csecundario);
    
}



#name:valid:focus , #subname:valid:focus , #mail:valid:focus , #textarea:valid:focus {
    box-shadow: 0 0 5px 0 rgb(16, 155, 16);
    border: none;
}
#name:invalid:focus , #subname:invalid:focus , #mail:invalid:focus , #textarea:invalid:focus {
    box-shadow: 0 0 5px 0 rgb(158, 19, 19);
    border: none;
}

.box-enviar {
    width: 100%;
    height: 5vh;
    /*background-color: navy;*/
    display: flex;
}

.enviar {
    width: 40%;
    height: 5vh;
    font-size: 1.0625rem;
   border-radius: 15px;
   border: none;
   background-color: var(--Csecundario);
   color: var(--Cparrafos2);
  
}


.enviar:hover {
    background-color: var(--Chover);
    color: var(--ChoverP);
   
}
 /* Fin contactame*/

 footer {
     width: 100%;
     height: 25vh;
     background-color: var(--Csecundario);
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
 }

 .box-iconos {
     width: 70%;
     height: 20vh;
     /*background-color: cyan;*/
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-around;
 }

 .lista-texto {
     width: 38%;
     height: auto;
     /*background-color: darkgoldenrod;*/
     display: flex; 
     justify-content: center;
     align-items: center;

 }
 .lista-texto ul {
     display: flex;
     justify-content: center;
     align-items: center;
 }


.lista-texto ul a  {
     text-decoration: none;
     list-style: none;
     color: var(--Cprincipal);
    padding: 2%;
 }

 .lista-texto ul a  li:hover{
     color: var(--ChoverP);
 }

 .lista-iconos{
    width: 38%;
    height: auto;
    /*background-color: rgb(180, 42, 162);*/
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.lista-iconos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 .lista-iconos ul a {
     text-decoration: none;
     list-style: none;
     padding: 10%;
 }


 .lista-iconos ul a li i {
     width: 154%;
     height: 4.2vh;
    /*background-color: tomato;*/
     display: flex;
     font-size: 2.1875rem;
     /*font-size: 1.7rem;*/
     color: var(--Cparrafos);
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     border: solid 1px  var(--Cparrafos);
     text-shadow:-1px -1px 0 var(--Cparrafos2);
     
 }

 .lista-iconos ul a li i:hover {
background-color: var(--Cparrafos);
color: var(--Csecundario);
}

